@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  background-color: #212121;
  color: white;
  margin: 0;
}

html, body, .App, #root {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
